@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css');

body {background-color:black;font-family:arial;color:white;min-height:100vh;}


h1{color:grey;font-family:verdana; text-align: center;}
/* div{min-height: 100%;} */
.maindiv {
    background-color: white;
    margin: 0 auto ;
    color:black;
    width: 500px;
    padding:25px;
    border-radius: 25px;

    
    /* display:flex;
    align-items:center;*/
    /* flex-direction:column;  */
    /* margin-top:20%; */

   
    
    
     

}

.ye{background-color:yellow;}
.wh {background-color:  white;}

#toop{
    text-align:justify;
    
    margin:auto 15%;
}
button{margin-top: 10px;}
input{margin-top: 10px;
margin-left: 20px;}
select{margin-top: 10px;
margin-left:30px}
#principal{margin-left: 60px;}

footer{
    align-self: flex-start;
}

