body {background-color:black;font-family:arial;color:white;margin:auto;}
html{margin:auto}
h1{color:grey;font-family:verdana}

.maindiv {
    background-color: white;
    margin:auto ;
    color:black;
    width: 300px;
    padding:20px;
    border-radius: 25px;
    box-align:center;
     

}



